body { background: #e972ec; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-cache-0 { color: #9c3626; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #65d095; font-size: 18px; margin-bottom: 5px; }
.block-auth-2 { color: #6ebe8d; font-size: 15px; margin-bottom: 5px; }
.block-notify-3 { color: #30bfbb; font-size: 18px; margin-bottom: 5px; }
.block-user-4 { color: #a6522d; font-size: 17px; margin-bottom: 5px; }
.block-uploader-5 { color: #ddadc4; font-size: 17px; margin-bottom: 5px; }